$color-neutral-00: var(--color-neutral-00);
$color-neutral-01: var(--color-neutral-01);
$color-neutral-02: var(--color-neutral-02);
$color-neutral-03: var(--color-neutral-03);
$color-neutral-04: var(--color-neutral-04);
$color-neutral-05: var(--color-neutral-05);
$color-neutral-06: var(--color-neutral-06);
$color-neutral-07: var(--color-neutral-07);
$color-neutral-08: var(--color-neutral-08);
$color-neutral-09: var(--color-neutral-09);

$color-primary-00: var(--color-primary-00);
$color-primary-01: var(--color-primary-01);
$color-primary-02: var(--color-primary-02);
$color-primary-03: var(--color-primary-03);
$color-primary-04: var(--color-primary-04);
$color-primary-05: var(--color-primary-05);
$color-primary-06: var(--color-primary-06);
$color-primary-07: var(--color-primary-07);
$color-primary-08: var(--color-primary-08);
$color-primary-09: var(--color-primary-09);

$color-secondary-00: var(--color-secondary-00);
$color-secondary-01: var(--color-secondary-01);
$color-secondary-02: var(--color-secondary-02);
$color-secondary-03: var(--color-secondary-03);
$color-secondary-04: var(--color-secondary-04);
$color-secondary-05: var(--color-secondary-05);
$color-secondary-06: var(--color-secondary-06);
$color-secondary-07: var(--color-secondary-07);
$color-secondary-08: var(--color-secondary-08);
$color-secondary-09: var(--color-secondary-09);

$color-error-00: var(--color-error-00);
$color-error-01: var(--color-error-01);
$color-error-02: var(--color-error-02);

$color-success-00: var(--color-success-00);
$color-success-01: var(--color-success-01);
$color-success-02: var(--color-success-02);

$color-error: var(--color-error-02);
$color-success: var(--color-success-02);
