@use "../../../palette.scss";

.bh-tabs {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 20px;
    margin-bottom: 12px;

    .tab {
        padding: 6px 12px;
        margin: 0px 4px;
        position: relative;
        cursor: pointer;
        transition: background-color 100ms ease-in;
        border-radius: 4px;

        &:hover {
            background-color: palette.$color-primary-01;
        }

        &::after {
            transition: border-color 100ms ease-in;
        }

        &.active {
            &::after {
                content: "";
                width: 100%;
                position: absolute;
                bottom: 0px;
                left: 0px;
                right: 0px;
                border-bottom: 4px solid palette.$color-primary-05;
            }
        }
    }
}