@use "../../../palette.scss";

.bh-code {
    font-family: monospace;
    white-space: pre;
    background-color: palette.$color-neutral-00;
    padding: 16px;
    border-radius: 4px;
    overflow: scroll;

    &.code-block {
        display: block;
    }

    &.code-inline {
        display: inline;
        padding: 4px;
        color: palette.$color-secondary-09;
    }
}